.jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%
}

.footer-address-icon{
	padding-right: 10px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom:0px;
	margin-top: 10px;
}
